__pycache__/
KITTI/images/
KITTI/devkit/
KITTI/pose_GT/
datainfo/*
*.png
logs/
records/
results/*
models/
pretrained/
*.ipynb
test_df.csv
test_dump.txt
job.*
/params.py
*.model
*.optimizer
scripts/*/
